* {
    margin : 0;
    padding : 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: powderblue;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    /* Pushes the footer down */
    min-width: fit-content;
    border: solid black 5px;
    gap: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    flex-wrap: nowrap; 
}

.cell {
    border: solid black 1px;
    background-color: aqua;
    padding: 10px;
}